/*Reduced, version 1.2, last updated 2025-19-01*/
/*Massive thanks to https://0x5fbe.id for inspiration*/

@font-face {
    font-family: 'JetBrainsMono-Regular';
    font-display: swap;
    font-weight: 400;
    src: local('JetBrains Mono NL Regular'), url("/fonts/JetBrainsMonoNL-Regular-2.woff2");
}

@font-face {
    font-family: 'JetBrainsMono-ExtraBold', monospace;
    font-display: swap;
    font-weight: 800;
    src: local('JetBrains Mono NL ExtraBold'), url("/fonts/JetBrainsMonoNL-ExtraBold-2.woff2");
}

body {
    opacity: 1;
}

* {
    font-family: 'JetBrainsMono-Regular', monospace;
    color: #181818;
    line-height: 1.2;
    font-size: 17px;
    text-align: center;
}

h1 {
    font-family: 'JetBrainsMono-ExtraBold', monospace;
}

a {
    color: #7700e6;
}

a:hover, ::selection {
    color: white;
    background-color: #7700e6;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #141414;
    }

    * {
        color: #dbdbdb;
    }

    a {
        color: #00ff88;
    }

    a:hover, ::selection {
        color: black;
        background-color: #00ff88;
    }
}
